{% extends 'navlayout.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h2 style="color:lime">Loan Sanctioned Customers</h2>
    <table border="3px">
        <tr>
            <th>customer_id</th>
            <th>first_name</th>
            <th>last_name</th>
            <td>Email</td>
            <th>Sanctioned Amount</th>
        </tr>

        {% for i in obj %}
        <tr>
            {% if i.sanction_amt > 0 %}
            <td>{{ i.user.id }}</td>
            <td>{{i.user.first_name}}</td>
            <td>{{i.user.last_name}}</td>
            <td>{{i.user.email}}</td>
            <td>{{i.sanction_amt}}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
        <a href="{% url 'opr_dashboard' %}">Back to Dashboard</a>
         </div>
</div>
{% endblock %}
