{% extends 'Customer/Dashboard/dashboard.html' %}
{% load static %}


{% block title %}
    <title>Title</title>
{% endblock %}


{% block content %}
<div class="text-centre">
<div class="container">
    <div class="jumbotron">
        <label>Do You Agree With All <b>Term and conditions </b>?</label>
        <form method="post">
            {% csrf_token %}
            <br>
            <button type="submit" class="btn btn-success"><a href="#" style="color:white">I Agree</a></button>
        </form>
        <button class="btn btn-danger"><a href="#" style="color:white">Disagree</a></button>
    </div>
</div>
</div>

{% endblock %}
