{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Register</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}
{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last  Name</th>
      <th scope="col">Email</th>
      <th scope="col">Pan Card Number</th>
      <th scope="col">Mobile</th>
      <th scope="col">CIBIT Score</th>
      <th scope="col">Status</th>
      <th scope="col">Apply</th>
    </tr>
  </thead>
  <tbody>
  {% for i in obj %}
  {% if i.username == 'shubhamopr' or i.username == 'shubhamacc' or i.username == 'anand' or i.username == 'oe' or i.username == 'shubham' %}
        {% else %}
    <tr style="text-align:center;">

      <th scope="row">{{i.first_name}}</th>
      <td>{{i.last_name}}</td>
      <td>{{i.email}}</td>
      {% for k in obj3 %}
      {% if k.user_id == i.id %}
      <td>{{k.Pancard_No}}</td>
      <td>{{k.Mobile_No}}</td>

      {% endif %}
      {% endfor %}
      {% for j in obj1 %}
      {% if i.id == j.customer_id %}
      <td>{{j.cibil}}</td>
       <td>{{j.status}}</td>
      {% endif %}
      {% endfor %}


      {% for j in obj1 %}
      {% if i.id == j.customer_id %}
      {% if j.cibil > 750 %}
      <td><button   style="border-radius:5px;background-color:lightgreen;"><a href="{% url 'form' %}" style="color:white;">Apply</a></button></td>
      {% else %}
      <td><button><a href="#">Reject</a></button></td>
      {% endif %}
       {% endif %}
      {% endfor %}
    </tr>
  {% endif %}
  {% endfor %}

  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}