{% extends 'Customer/Dashboard/dashboard.html' %}
{% load static %}



{% block content %}

	<!--<section class="ftco-section">-->
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Loan is Few Steps Away............</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm">
										{% csrf_token %}
										<div class="row">
<!--											<div class="col-md-4">-->
<!--												<div class="form-group">-->
<!--													<label class="label" for="name">Customer Id</label>-->
<!--													<input type="number" class="form-control" name="name" id="name" placeholder="" autocomplete="off">-->
<!--												</div>-->
<!--											</div>-->
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Loan Amount</label>
													<input type="number" class="form-control" name="Loan_Amount" id="email" placeholder="" autocomplete="off" min="20000" max="300000">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Tenure of Loan</label>
													<input type="number" class="form-control" name="Tenure_of_Loan" id="subject" placeholder="" autocomplete="off" min="3" max="36">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="Pancard_No">Pancard Number</label>
													<input type="text" class="form-control" name="Pancard_No" id="Pancard_No" placeholder="" autocomplete="off">
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="Mobile_No">Mobile Number</label>
													<input type="number" class="form-control" name="Mobile_No" id="Mobile_No" placeholder="" autocomplete="off">
												</div>

											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Purpose Of Loan</label>
													<textarea name="Purpose_of_Loan" class="form-control" id="message" cols="30" rows="4" placeholder="" autocomplete="off" minlength="3" maxlength="20"></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Submit" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-lg-4 col-md-5 d-flex align-items-stretch">
								<div class="info-wrap  w-100 p-md-5 p-4" style="background-color:#2b60b5">
									<h3>Let's get in touch</h3>
									<p class="mb-4">We're open for any suggestion or just to have a chat</p>
				        	<div class="dbox w-100 d-flex align-items-start">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-map-marker"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-phone"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-paper-plane"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
					          </div>
				          </div>
				        	<div class="dbox w-100 d-flex align-items-center">
				        		<div class="icon d-flex align-items-center justify-content-center">
				        			<span class="fa fa-globe"></span>
				        		</div>
				        		<div class="text pl-3">
					            <p><span>Website</span> <a href="#">yoursite.com</a></p>
					          </div>
				          </div>
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}


